@font-face {
    font-family: 'MyWebFont';
    src: url('./starjedi/Starjedi.ttf') format('truetype')
}

* {
    font-family: 'MyWebFont';
    background-color: black;
    color: white;
    font-size: 60px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('./MagnificentJoyousEyra-small.gif');
    width: 100%;
    height: 100%;
    /* display: ; */
}

#gif {
    display: none;
}